.switch-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background: gold;
  border: none;
  border-radius: 6px;
  padding: 10px;
  margin: 10px;
  cursor: pointer;

  &:hover {
    background: darkgoldenrod;
  }
}

form {
  input {
    margin: 20px;
    padding: 10px;
  }
}

.stamp {
  display: inline-block;
  padding: 10px;
}